@model SistemaJogos.ConnectionDB.jogos

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div  id="formulario" class="main">
    
        <div class="input-group input-cadastrar input-group-lg">
            <h4 class="text-danger">Nome do jogo</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
        </div>

        <div class="input-group input-group-lg">
            <h4 class="text-danger">Descrição</h4>

           @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control" } })

           @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })

</div>

        <div class="input-group input-group-lg">
            <h4 class="text-danger">Data de Lançamento</h4>
            <input type="date" Class="form-control col-md-4 col-ms-6 col-xs-12"  ID="dtLan" name="data">

            <div style="display:none">
                @Html.EditorFor(model => model.dtLancamentos, new { htmlAttributes = new { @class = "form-control", @id = "data" } })
                @Html.ValidationMessageFor(model => model.dtLancamentos, "", new { @class = "text-danger" })
               
            </div>
        </div>

    <br />
        <div style="display:none">

            @Html.EditorFor(model => model.plataforma, new { htmlAttributes = new { @class = "form-control", @id="plat" } })
            @Html.ValidationMessageFor(model => model.plataforma, "", new { @class = "text-danger" })
        </div>
        <div class="input-group input-group-lg">
            <select Class="form-control col-md-2 col-sm-6 col-xs-12" name="plat" onblur="dadosPlat()" ID="plataforma">
                <option Value="pc">PC</option>
                <option Value="ps3">Ps3</option>
                <option Value="ps4">Ps4</option>
                <option Value="xbox 360">Xbox 360</option>
                <option Value="xbox one">Xbox One</option>

            </select>
        </div>
        <br />
        <div class="input-group input-group-lg">
            <h4 class="text-danger">Preço</h4>
            @Html.EditorFor(model => model.preco, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.preco, "", new { @class = "text-danger" })
            <br />
        </div>
        <div class="input-group input-group-lg">
            <h4 class="text-danger">Quantidade</h4>
            @Html.EditorFor(model => model.quantidade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.quantidade, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="input-group input-group-lg">
            <h4 class="text-danger">Imagem</h4>
            @Html.EditorFor(model => model.img, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })
        </div>
        
        <br />
        <br />
        <div class="input-group input-group-lg">

            <Button ID="Button1" runat="server" Class="btn btn-danger"> Inserir Jogo</Button>
        </div>
    

</div>
}

@ViewBag.msg
<script>
    function dadosPlat() {   
        document.getElementById("plat").value = document.getElementById("plataforma").value;
        document.getElementById("data").value = document.getElementById("dtLan").value;
    }


</script>