@model SistemaJogos.ConnectionDB.clientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorGasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorGasto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idclientes }) |
    @Html.ActionLink("Back to List", "Index")
</p>
